*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    width: 100%;
}

#high{
    width: 50%;
    padding: 3vh 4vw;
    font-size: 200%;
}

#time{
    width: 50%;
    padding: 3vh 5vw;
    text-align: right;
    font-size: 200%;
}

#main{
    width: 40%;
    display: block;
    margin:auto;
    font-size: 225%;
    text-align: center;
    padding: 20vh 0;
}

#main h2{
    margin: 2vh 0;
}

#main p {
    margin: 2vh 0;
}

#main button{
    width: 20%;
    font-size: 60%;
    border-radius: 5%;
    background-color: blueviolet;
}

#question-area{
    width: 50%;
    display: block;
    margin: auto;
    font-size: 200%;
    padding: 20vh 0;
    display: none;
    /* display: flex;
    flex-direction: column; */
}

#question-text{
    width: 100%;
    font-size: 125%;
    padding: 1vh 2vw;
}

#answer-area{
    width: 75%;
}

#answers{
    margin: 1vh 2vw;
    font-size: 100%;
    text-align: left;
    padding: 0 2vw;
}

#score-area{
    width: 50%;
    margin: auto;
    padding: 15vh 10vw;
    display: none;
}

#main-text{
    display: flex;
    width: 100%;
    font-size: 150%;
    padding: 2vh 0;
}

#score-text{
    display: flex;
    width: 100%;
    font-size: 150%;
    padding: 2vh 0;
}

#user-input{
    width: 100%;
    font-size: 150%;
}

#user-text{
    width: 100%;
    font-size: 125%;
}

#enter{
    width: 20%;
    font-size: 100%;
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    background-color: blueviolet;
}

#highscores{
    width: 50%;
    margin: auto;
    padding: 15vh 10vw;
    display: none;
}

#highscores h3{
    font-size: 175%;
    padding: 1vh 3vw;
}

#highscores li{
    text-decoration: none;
}

.highscore-text{
    width: 90%;
    font-size: 150%;
    padding: 2vh 5vw;
    border: black 2px solid;
    border-radius: 5px 5px;
    background-color:lightgray;
    margin: 1vh 0;
}

#go-back{
    width: 20%;
    font-size: 125%;
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    background-color: blueviolet;
}
 #clear{
    width: 30%;
    font-size: 125%;
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    background-color: blueviolet;
 }